html,
body,
#root {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  max-width: unset !important;
}
.bg-blue {
  background-color: #e1f0f587 !important;
  border-color: transparent !important;
  border-radius: 20px !important;
}

 /* .............................Styles for sidebar..............................*/
.app {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #e1f0f587 !important;
  border-radius: 30px 0 0 30px !important;
  border-color: transparent !important;
}

/*....................Styles for dashboard component..............................*/
.input-group-text {
  background-color: unset !important;
}

.indicator-name {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  flex: 1; 
}


/*.......................Calendar & schedule Components............................*/

.calendar-container {
  max-width: 100%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
}

.nav-icons span {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
.day-label,
.date-label {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.active-day {
  color: #5f4dee;
}

.slot-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot {
  text-align: center;
  padding: 8px 0;
  margin: 4px 0;
  border-radius: 20px;
  font-size: 14px;
  color: #444;
  min-width: 50px;
}

.highlight {
  background-color: #5f4dee;
  color: #fdf9f9;
}

.appointments {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  overflow-x: auto;
}

.schedule {
  background-color: #330da1 !important;
  color: white !important;
}

.bg-shaded {
  background-color: #94abb333 !important;
  border-color: transparent !important;
}